body {
	margin:0;
	padding:0;
	font-family:Arial;
}
input {
	margin:3px 0 3px 0;
}

#logo {
	font-size:32px;
	font-weight:700;
	font-family:Arial;
	float:left;
}
#menu {
	float:right;
}
#menu .item {
	font-size:64px;
	font-weight:900;
	font-family:Arial;
	line-height:48px;
}
#header {
	width:840px;
	height:60px;
	position:fixed;
	z-index:1000;
	background:#fff;
	padding-top:10px;
	margin-bottom:20px;
}
#wrapper {
	width:840px;
}

.link {
	text-decoration:none;
	color:inherit;
	padding:0;
	margin:0;
}
.link:hover {
	text-decoration:none;
	color:inherit;
	padding:0;
	margin:0;
}
.grid {
	list-style-type:none;
	display:inline;
	float:left;
	margin:0;
	padding:0;
}
.grid li {
	width:420px;
	height:345px;
	padding:10px 0 0 0;
	float:left;
}
.grid .short {
	width:420px;
	height:320px;
	padding:10px 0 0 0;
	float:left;
	margin-bottom:10px;
}
.grid .comment {
	width:420px;
	height:320px;
	padding:10px 0 0 0;
	float:left;
}
.grid li video {
	margin-bottom:5px;
}
.grid li .title {
	font-size:16px;
	font-weight:bold;
	font-family:Arial;
	text-align:left;
	padding:0 10px 0 10px;
}
.infobox {
	padding:10px;
}
.infobox h1 {
	margin:0;
	padding:0;
}
.wheel {
	background:url('loading.gif') no-repeat center;
	width:24px;
	height:24px;
}

/* helpers */
.right {
	float:right;
}
.left {
	float:left;	
}

/* backgrounds */

.cyan {
	background:#29abe2;
	color:#fff;
}
.magenta {
	background:#d4145a;
	color:#fff;
}
.yellow {
	background:#d9e021;
	color:#000;
}
.black {
	background:#000;
	color:#fff;
}

